{% extends 'core/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="max-w-7xl mx-auto mt-14">
    <div class="relative overflow-x-auto">
        <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Phone
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Revenue
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        John Doe
                    </th>
                    <td class="px-6 py-4">
                        +1 (555) 123-4567
                    </td>
                    <td class="px-6 py-4">
                        john.doe@example.com
                    </td>
                    <td class="px-6 py-4">
                        $15,000
                    </td>
                </tr>
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Jane Smith
                    </th>
                    <td class="px-6 py-4">
                        +1 (555) 987-6543
                    </td>
                    <td class="px-6 py-4">
                        jane.smith@example.com
                    </td>
                    <td class="px-6 py-4">
                        $23,500
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Acme Corp
                    </th>
                    <td class="px-6 py-4">
                        +1 (555) 555-1212
                    </td>
                    <td class="px-6 py-4">
                        contact@acmecorp.com
                    </td>
                    <td class="px-6 py-4">
                        $100,000
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}